@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@tailwind base;
    @tailwind components;
    @tailwind utilities;
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
      .custom-spinner {
        border: 3px solid #f3f3f3;
        border-top: 3px solid #ffffff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 1s linear infinite;
      }/* Ensure the chart container is responsive */
canvas {
    max-width: 100%;
    height: auto;
  }
.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* Match the UI color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Darker gray to match UI */
  border-radius: 10px;
  border: 2px solid transparent;
}

